{{~it:list}}
	{{?list.name == 'id_checkbox'}}
		<section class="f-form-item" data-name="id_checkbox" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				{{~list.value:item}}
				<div class="f-control" data-type="list">
					<label>
						<input type="checkbox" />
						<span>{{!item.name}}</span>
					</label>
				</div>
				{{~}}
			</div>
			<div class="f-item-mask" data-action="edit-checkbox"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_image_checkbox'}}
		<section class="f-form-item" data-name="id_checkbox" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				{{~list.value:item}}
				<div class="f-control" data-type="list">
					<label>
						<input type="checkbox" />
						{{?item.img}}
						<em class="f-img"><img src="{{=item.img}}"></em>
						{{?}}
						<span>{{!item.name}}</span>
					</label>
				</div>
				{{~}}
			</div>
			<div class="f-item-mask" data-action="edit-checkbox"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_radio'}}
		<section class="f-form-item"  data-name="id_radio" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				{{~list.value:item}}
				<div class="f-control" data-type="list">
					<label>
						<input type="radio" />
						<span>{{!item.name}}</span>
					</label>
				</div>
				{{~}}
			</div>
			<div class="f-item-mask" data-action="edit-radio"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_image_radio'}}
		<section class="f-form-item"  data-name="id_radio" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				{{~list.value:item}}
				<div class="f-control" data-type="list">
					<label>
						<input type="radio" />
						{{?item.img}}
						<em class="f-img"><img src="{{=item.img}}"></em>
						{{?}}
						<span>{{!item.name}}</span>
					</label>
				</div>
				{{~}}
			</div>
			<div class="f-item-mask" data-action="edit-radio"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_section'}}
		<section class="f-form-item"  data-name="id_section" current="true">
			<h2><em>{{!list.title}}</em></h2>
			<div class="f-item-wrap">
				<div class="f-control">
					<hr class="f-line" />
				</div>
			</div>
			<div class="f-item-mask" data-action="edit-line"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_text'}}
		<section class="f-form-item" data-name="id_text" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				<div class="f-control">
				<input type="{{=list.type}}"  data-name="text"/>
				</div>
			</div>
			<div class="f-item-mask" data-action="edit-input"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_textarea'}}
		<section class="f-form-item" data-name="id_textarea" current="true">
			<h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				<div class="f-control">
					<textarea  data-name="text"></textarea>
				</div>
			</div>
			<div class="f-item-mask" data-action="edit-textarea"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_dropdown'}}
		<section class="f-form-item"  data-name="id_dropdown"  current="true">
		    <h2><em>{{!list.title}}</em>{{?list.required}}<span>*</span>{{??}}{{?}}</h2>
		    <div class="f-item-wrap">
		        <div class="f-control">
		            <div class="f-select">
		                <em>请选择</em>
		                <i class="iconfont">&#xe601;</i>
		            </div>
		            <ul class="f-option-list" style="display: block" data-type="select">
		                    {{~list.value:item}}
		                    <li class="option">{{!item.name}}</li>
		                    {{~}}
		            </ul>
		        </div>
		    </div>
		    <div class="f-item-mask" data-action="edit-select"></div>
		    <i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_image'}}
		<section class="f-form-item"  data-name="id_image"  current="true">
			<h2><em>{{!list.title}}</em>{{?list.required ==1}}<span>*</span>{{??}}{{?}}</h2>
			<div class="f-item-wrap">
				<div class="f-description"><span>{{!list.description}}</span></div>
				<div class="f-control">
					<span class="f-span">选择图片</span>
					<input type="file" class="file-image" data-name="fileImage" data-action="add-image" size="28" />
					<div class="image-style">
						<a href="javascript:void(0);">
							{{?list.img}}
							<img class="f-img" src="{{=list.img}}" />
							{{?}}
						</a>
					</div>
				</div>
			</div>
			<div class="f-item-mask" data-action="edit-image"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
	{{?list.name == 'id_picture'}}
		<section class="f-form-item"  data-name="id_picture"  current="true">
			<div class="f-item-wrap">
				<div class="f-control">
					<a href="{{=list.url}}">
						{{?list.img}}
						<img class="f-img" src="{{=list.img}}" />
						{{?}}
					</a>
				</div>
				<div class="f-descriptions"><span>{{!list.descriptions}}</span></div>
			</div>
			<div class="f-item-mask" data-action="edit-picture"></div>
			<i class="iconfont f-item-del" >&#xe605;</i>
		</section>
	{{?}}
{{~}}