$img_path: '../images/';
$font_path: '../font/';
//var
$asideWidth: 290px;
$moldBorder: #c8c8c8;
$liBorder:#e4e4e4;
$inputBorder:#a8acad;
$moldBg:#f7f7f7;
$textGrey:#666;
$textBlue:#3591d4;
$bgBlue:#1a8fda;
$tipGrey:#999;
$borderBlue:#1a8fda;
$borderGrey:#c8c8c8;