.f-p-wrap{
	.f-scroll::-webkit-scrollbar {  
	  width: 4px;   
	}  
	  
	.f-scroll::-webkit-scrollbar-track,  
	.f-scroll::-webkit-scrollbar-thumb {   
	   
	}  
	  
	.f-scroll::-webkit-scrollbar-track {  
	   
	}  
	  
	.f-scroll::-webkit-scrollbar-thumb {  
	  background: #a8d7f3;
	}  
	  
	.f-scroll::-webkit-scrollbar-corner {  
	  background: none;  
	}  
}