@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont";
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px; }

body {
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden; 
  height: 100%;
}

.f-form-page {
  font-size: 14px;
  color: #666666; }
  .f-form-page * {
    margin: 0;
    padding: 0;
    border: 0; }
  .f-form-page .clearfix {
    *zoom: 1; }
  .f-form-page .clearfix:before,
  .f-form-page .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .f-form-page .clearfix:after {
    clear: both; }
  .f-form-page .f-btn {
    display: inline-block;
    border: #a8acad 1px solid;
    border-radius: 3px;
    padding: 5px 30px;
    color: #666666;
    text-decoration: none;
    font-size: 14px; }
  .f-form-page .f-btn i, .f-form-page .f-btn span, .f-form-page .f-btn em {
    vertical-align: middle; }
  .f-form-page .f-btn i {
    font-size: 16px;
    margin-right: 5px; }
  .f-form-page .f-btn:hover {
    background: #fff;
    color: #3591d4; }
  .f-form-page ul {
    list-style: none; }
  .f-form-page em {
    font-style: normal; }
  .f-form-page h1 {
    font-size: 16px;
    line-height: 28px;
    text-align: center; }
  .f-form-page h2 {
    font-size: 14px; }
  .f-form-page h2 span {
    color: #a8d7f3; }
  .f-form-page .f-form-title {
    background: #1a8fda;
    color: #fff;
    padding: 5px 20px 5px 20px; }
  .f-form-page .f-subtitle {
    text-align: center; }
  .f-form-page .f-select {
    border: #a8acad 1px solid;
    border-radius: 4px;
    position: relative;
    z-index: 9;
    background: #fefefe;
    background: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background: linear-gradient(top, #fefefe, #f3f3f3);
    height: 28px;
    padding: 0 5px;
    font-size: 14px;
    color: #666;
    cursor: pointer; }
  .f-form-page .f-select em {
    float: left;
    margin: 7px 0 0 0;
    width: 91%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .f-form-page .f-select i {
    float: right;
    font-size: 18px;
    width: 18px;
    margin: 3px 0 0 0; }
  .f-form-page .f-select .f-option-list {
    display: none;
    position: absolute;
    top: 31px;
    left: 0px;
    width: 100%;
    border: #1a8fda 1px solid;
    border-radius: 4px;
    background: #fff;
    overflow: hidden; }
  .f-form-page .f-option-list li {
    padding: 6px 8px;
    cursor: pointer; }
  .f-form-page .f-option-list li:hover {
    background: #e8f4fb; }
  .f-form-page .f-form-view .f-title {
    text-align: center;
    padding: 10px 15px;
    background: #f7f7f7; }
  .f-form-page .f-form-view .f-title h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0; }
  .f-form-page .f-form-item {
    border-bottom: #e3e3e3 1px dashed;
    padding: 15px 15px;
    position: relative; }
  .f-form-page .f-form-item h2 {
    font-size: 14px;
    font-weight: bold; }
  .f-form-page .f-form-item .f-item-wrap {
    padding: 10px 0 5px 0; }
  .f-form-page .f-form-item .f-item-wrap .f-option-list {
    border: #1a8fda 1px solid;
    border-radius: 4px;
    background: #fff;
    overflow: hidden; }
  .f-form-page .f-form-item .f-control {
    margin: 10px 0 0 0; }
  .f-form-page .f-form-item .f-control label {
    display: -webkit-box;
    /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    white-space: nowrap; }
  .f-form-page .f-form-item .f-control .f-span {
    background: #1a8fda;
    color: #fff;
    border: #1a8fda 1px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    padding: 9px 0px;
    width: 100%;
    margin: 10px auto -25px;
    overflow: hidden;
    text-align: center; }
  .f-form-page .f-form-item .f-control .image-style{
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.4);
    text-align: center;}
  .f-form-page .f-form-item .f-control .f-image{
    max-width: 100%;}
  .f-form-page .f-form-item .f-control .file-image{
    background: #1a8fda;
    color: #fff;
    border: #1a8fda 1px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    padding: 8px 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    margin: -15px 0px 0px 0px;  }
  .f-form-page .f-form-item .f-control label span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    -webkit-flex: 1;
    flex: 1;
    line-height: 23px;
    white-space: normal; }
  .f-form-page .f-form-item .f-control .f-hasImg span {
    max-width: 55%;
    word-break: break-all;
    white-space: normal;
    vertical-align: top; }
  .f-form-page .f-form-item .f-chengge-checked {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    vertical-align: top;
    width: 25px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    display: none\0;
    *display: none; }
  .f-form-page .f-form-item .f-chengge-checked i {
    font-size: 20px; }
  .f-form-page .f-form-item .f-control label input {
    display: none;
    *display: inline;
    display: inline\0; }
  .f-form-page .f-form-item .f-control label input + em .checken-01 {
    display: inline-block; }
  .f-form-page .f-form-item .f-control label input + em .checken-02 {
    display: none; }
  .f-form-page .f-form-item .f-control label input:checked + em .checken-01 {
    display: none; }
  .f-form-page .f-form-item .f-control label input:checked + em .checken-02 {
    display: inline-block;
    color: #3591d4;
    font-weight: bold; }
  .f-form-page .f-form-item .f-control .f-img, .f-form-page .f-form-item .f-control .f-img img {
    width: 60px;
    height: 60px; }
  .f-form-page .f-form-item .f-control .f-img {
    margin-right: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    vertical-align: top; }
  .f-form-page .f-form-item .f-control .f-img img {
    display: block; }
  .f-form-page .f-form-item .f-control .f-radio, .f-form-page .f-form-item .f-control .f-checkbox {
    margin: 0 5px 0 0; }
  .f-form-page .f-form-item .f-control .f-input, .f-form-page .f-form-item .f-control .f-textarea {
    font-size: 14px;
    box-shadow: none;
    border: #a8acad 1px solid;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box; }
  .f-form-page .f-form-item .f-control .f-input {
    height: 25px;
    padding: 2px 5px; }
  .f-form-page .f-form-item .f-control .f-textarea {
    height: 90px;
    padding: 2px 5px; }
  .f-form-page .f-line {
    border: none;
    border-top: #666666 1px dashed;
    height: 0px;
    background: #fff; }
  .f-form-page .f-btn-wrap {
    padding: 15px; }
  .f-form-page .f-btn-wrap a {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #1a8fda;
    color: #fff;
    text-decoration: none; }
