@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: "iconfont";
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px; }

.f-p-wrap .f-select {
  border: #a8acad 1px solid;
  border-radius: 4px;
  position: relative;
  background: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
  background: linear-gradient(top, #fefefe, #f3f3f3);
  height: 28px;
  padding: 0 5px;
  font-size: 14px;
  color: #666666;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
.f-p-wrap .f-select em {
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
.f-p-wrap .f-select i {
  font-size: 18px;
  width: 18px; }
.f-p-wrap .f-select .f-option-list {
  display: none;
  position: absolute;
  top: 31px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  border: #1a8fda 1px solid;
  border-radius: 4px;
  background: #fff;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto; }
.f-p-wrap .f-option-list li {
  padding: 6px 8px;
  cursor: pointer; }
.f-p-wrap .f-option-list li:hover {
  background: #e8f4fb; }
.f-p-wrap .f-option-list li.curr {
  background: #e8f4fb; }

.f-p-wrap .f-scroll::-webkit-scrollbar {
  width: 4px; }
.f-p-wrap .f-scroll::-webkit-scrollbar-thumb {
  background: #a8d7f3; }
.f-p-wrap .f-scroll::-webkit-scrollbar-corner {
  background: none; }

.f-alert-body {
  padding: 20px;
  text-align: center;
  z-index: 1;
  background: #fff; }

.f-alert-footer {
  background: #f9f9f9;
  text-align: center;
  padding: 10px;
  z-index: 2; }

.f-alert-footer a {
  margin: 0 10px; }

.f-alert {
  position: absolute;
  z-index: 1202;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.f-del-alert {
  font-size: 14px;
  color: #333;
  text-align: center; }

.f-mask {
  background: #000;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.f-p-wrap .f-outside-wx, .f-p-wrap .f-outside-wb, .f-p-wrap .f-outside-rr, .f-p-wrap .f-outside-qz, .f-p-wrap .f-outside-db, .f-p-wrap .f-outside-qwb {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: #c8c8c8 1px solid;
  border-radius: 3px;
  text-align: center;
  line-height: 48px;
  cursor: pointer; }
.f-p-wrap .f-outside-wx i, .f-p-wrap .f-outside-wb i, .f-p-wrap .f-outside-rr i, .f-p-wrap .f-outside-qz i, .f-p-wrap .f-outside-db i, .f-p-wrap .f-outside-qwb i {
  font-size: 35px; }
.f-p-wrap .f-outside-wx:hover {
  border: #9acf4f 1px solid;
  background: #9acf4f;
  color: #fff; }
.f-p-wrap .f-outside-wb:hover {
  border: #ef4e41 1px solid;
  background: #ef4e41;
  color: #fff; }
.f-p-wrap .f-outside-rr:hover {
  border: #17a3eb 1px solid;
  background: #17a3eb;
  color: #fff; }
.f-p-wrap .f-outside-qz:hover {
  border: #ffb709 1px solid;
  background: #ffb709;
  color: #fff; }
.f-p-wrap .f-outside-db:hover {
  border: #45ad76 1px solid;
  background: #45ad76;
  color: #fff; }
.f-p-wrap .f-outside-qwb:hover {
  border: #13c1f3 1px solid;
  background: #13c1f3;
  color: #fff; }

.f-p-wrap .f-form-view {
  background: #fff;
  padding: 0;
  border: #c8c8c8 1px solid;
  width: 370px; }
.f-p-wrap .f-form-view .f-title {
  text-align: center;
  padding: 10px 15px;
  background: #f7f7f7; }
.f-p-wrap .f-form-view .f-title h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0; }
.f-p-wrap .f-form-item {
  border: #fff 2px solid;
  padding: 5px 15px;
  position: relative; }
.f-p-wrap .f-form-item h2 {
  font-size: 14px;
  font-weight: bold; }
.f-p-wrap .f-form-item:hover {
  border: #1a8fda 2px solid;
  background: #e8f4fb; }
.f-p-wrap .f-form-item .f-item-del {
  display: none; }
.f-p-wrap .f-form-item:hover .f-item-del {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #3591d4;
  opacity: 0.7;
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-align: center;
  z-index: 11;
  font-size: 24px;
  line-height: 18px;
  cursor: pointer; }
.f-p-wrap .f-form-item .f-item-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20px;
  z-index: 10;
  cursor: move; }
.f-p-wrap .f-form-item:hover .f-item-del:hover {
  opacity: 1; }
.f-p-wrap .f-form-item .f-item-wrap {
  padding: 10px 0 5px 0; }
.f-p-wrap .f-form-item .f-item-wrap .f-option-list {
  width: 100%;
  box-sizing: border-box;
  border: #1a8fda 1px solid;
  border-radius: 4px;
  background: #fff;
  overflow: hidden; }
.f-p-wrap .f-form-item .f-control {
  margin: 0 0 3px 0; }
.f-p-wrap .f-form-item .f-control label {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
.f-p-wrap .f-form-item .f-control .f-span{
  background: #1a8fda;
  color: #fff;
  border: #1a8fda 1px solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  padding: 9px 0px;
  width: 100%;
  margin: 10px auto -25px;
  overflow: hidden;
  text-align: center;}
.f-p-wrap .f-form-item .f-control .image-style{
  border-radius: 2px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.4);
  text-align: center;}
.f-p-wrap .f-form-item .f-control .f-image{
  width: 100%;
  height: 100%;
  max-width: 400px;}
.f-p-wrap .f-form-item .f-control .file-image{
  background: #1a8fda;
  color: #fff;
  border: #1a8fda 1px solid;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  padding: 8px 0px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  margin: -15px 0px 0px 0px;  }
.f-p-wrap .f-form-item .f-control label .f-img, .f-p-wrap .f-form-item .f-control label .f-img img {
  width: 12px;
  height: 12px;
  line-height: 12px; }
.f-p-wrap .f-form-item .f-control label .f-img {
  border: #1a8fda 1px solid;
  padding: 1px;
  margin-right: 5px; }
.f-p-wrap .f-form-item .f-control label .f-img img {
  display: block; }
.f-p-wrap .f-form-item .f-control input[type='radio'], .f-p-wrap .f-form-item .f-control input[type='checkbox'] {
  margin: 0 5px 0 0; }
.f-p-wrap .f-form-item .f-control input[type='text'], .f-p-wrap .f-form-item .f-control input[type=tel], .f-p-wrap .f-form-item .f-control input[type=date], .f-p-wrap .f-form-item .f-control input[type=email], .f-p-wrap .f-form-item .f-control textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px; }
.f-p-wrap .f-form-item .f-control input[type='text'], .f-p-wrap .f-form-item .f-control input[type=tel], .f-p-wrap .f-form-item .f-control input[type=date], .f-p-wrap .f-form-item .f-control input[type=email] {
  height: 30px; }
.f-p-wrap .f-form-placeholder {
  border: #1a8fda 1px dashed;
  padding: 20px; }
.f-p-wrap .f-line {
  border: none;
  border-top: #666666 1px dashed;
  height: 0px;
  background: #fff; }

.f-p-wrap {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  color: #666666; }

.f-p-wrap .red {
  color: #ff3300; }
.f-p-wrap .f-start {
  -webkit-align-self: flex-start;
  align-self: flex-start; }
.f-p-wrap .f-end {
  margin-left: auto; }
.f-p-wrap .f-center {
  margin: 0 auto; }
.f-p-wrap .f-btn {
  display: inline-block;
  border: #a8acad 1px solid;
  border-radius: 3px;
  padding: 5px 25px;
  color: #666666;
  text-decoration: none;
  font-size: 14px; }
.f-p-wrap .f-btn i, .f-p-wrap .f-btn span, .f-p-wrap .f-btn em {
  vertical-align: middle; }
.f-p-wrap .f-btn i {
  font-size: 16px;
  margin-right: 5px; }
.f-p-wrap .f-btn:hover {
  background: #fff;
  color: #3591d4; }
.f-p-wrap .f-btn-gery {
  background: #fff;
  color: #666666; }
.f-p-wrap .f-btn-gery:hover {
  color: #3591d4;
  border: #3591d4 1px solid; }
.f-p-wrap .f-btn-diseble {
  color: #fff;
  background: #d9d9d9;
  border: #d9d9d9 1px solid;
  cursor: default; }
.f-p-wrap .f-btn-diseble:hover {
  color: #fff;
  background: #d9d9d9; }
.f-p-wrap .f-btn-blue {
  background: #1a8fda;
  color: #fff;
  border: #1a8fda 1px solid; }
.f-p-wrap .f-btn-blue:hover {
  opacity: 0.7; }
.f-p-wrap .f-edit-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #e6f3fb;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 4px; }
.f-p-wrap .f-edit-button i {
  font-size: 18px;
  color: #3591d4;
  opacity: 0.4; }
.f-p-wrap .f-edit-button:hover i {
  opacity: 1; }
.f-p-wrap .f-edit-pic-button {
  background: none;
  overflow: hidden;
  position: relative;
  width: 34px;
  height: 30px; }
.f-p-wrap .f-edit-pic-button input {
  width: 34px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
.f-p-wrap .f-edit-pic-button i {
  font-size: 34px; }
.f-p-wrap .f-edit-delpic-button i {
  opacity: 1; }
.f-p-wrap .f-fieldset {
  font-size: 14px; }
.f-p-wrap input[type=text], .f-p-wrap input[type=tel], .f-p-wrap input[type=date], .f-p-wrap input[type=email], .f-p-wrap textarea {
  box-shadow: none;
  border: #a8acad 1px solid;
  border-radius: 3px; }
.f-p-wrap .f-input-div {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  box-shadow: none;
  border: #a8acad 1px solid;
  border-radius: 3px;
  padding: 5px;
  word-break: break-all;
  max-height: 90px;
  overflow-y: auto;
  overflow-x: hidden; }
.f-p-wrap input[type=text]:focus, .f-p-wrap input[type=tel]:focus, .f-p-wrap input[type=date]:focus, .f-p-wrap input[type=email]:focus, .f-p-wrap textarea:focus {
  border: #3591d4 1px solid;
  box-shadow: none; }
.f-p-wrap input[type=text]:hover, .f-p-wrap input[type=tel]:hover, .f-p-wrap input[type=date]:hover, .f-p-wrap input[type=email]:hover, .f-p-wrap textarea:hover {
  box-shadow: none; }
.f-p-wrap .f-fieldset .f-control-group {
  margin: 0 0 25px 0; }
.f-p-wrap .f-fieldset .f-control {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
.f-p-wrap .f-fieldset .f-control label {
  width: 85px; }
.f-p-wrap .f-fieldset .f-grid {
  -webkit-flex: 1;
  flex: 1;
  margin: 0 10px 0 0; }
.f-p-wrap .f-fieldset .f-input {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  height: 30px; }
.f-p-wrap .f-fieldset .f-textarea {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  height: 90px;
  resize: none; }
.f-p-wrap .f-control-tips {
  padding: 3px 0 0 85px; }
.f-p-wrap .f-control-tips label, .f-p-wrap .f-control-tips em {
  display: inline-block;
  padding: 2px;
  font-size: 12px;
  line-height: 12px; }
.f-p-wrap .f-control-tips label {
  background: #d7d7d7;
  color: #fff;
  margin-right: 3px;
  border-radius: 2px; }
.f-p-wrap .f-control-tips em {
  color: #999999; }
.f-p-wrap .f-p-tips {
  color: #3591d4;
  font-size: 14px; }
.f-p-wrap .f-p-tips i {
  font-size: 24px;
  margin-right: 10px; }
.f-p-wrap .f-arrow-tips {
  display: none; }
.f-p-wrap .f-outside-wx:hover .f-arrow-tips {
  display: block;
  padding: 5px 20px;
  line-height: 13px;
  position: absolute;
  background: #e8f4fb;
  border: #1a8fda 1px solid;
  border-radius: 4px;
  color: #666666; }
.f-p-wrap .f-arrow-tips::after, .f-p-wrap .f-arrow-tips::before {
  display: block;
  width: 0px;
  height: 0px;
  content: "";
  border-right: 7px rgba(0, 0, 0, 0) solid;
  border-top: 7px rgba(0, 0, 0, 0) solid;
  border-left: 7px rgba(0, 0, 0, 0) solid;
  position: absolute; }
.f-p-wrap .f-arrow-tips::after {
  border-bottom: 7px #1a8fda solid;
  left: 20px;
  top: -14px;
  z-index: 1; }
.f-p-wrap .f-arrow-tips::before {
  border-bottom: 7px #e8f4fb solid;
  left: 20px;
  top: -13px;
  z-index: 2; }
.f-p-wrap .f-btn-wrap {
  padding: 20px 0;
  margin: 0 20px;
  border-top: #c8c8c8 1px solid; }
.f-p-wrap .f-btn-wrap .f-btn {
  margin-right: 20px; }
.f-p-wrap .f-mold {
  border: #c8c8c8 1px solid;
  border-radius: 5px;
  background: #f7f7f7; }
.f-p-wrap .f-nav-bg {
  position: fixed;
  width: 290px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-right: #c8c8c8 1px solid;
  background: #f7f7f7; }
.f-p-wrap .f-con-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ededed;
  z-index: -1; }
.f-p-wrap .f-side {
  width: 290px;
  position: relative;
  z-index: 2; }
.f-p-wrap .f-side-nav dt, .f-p-wrap .f-side-nav dd {
  border-bottom: #e4e4e4 1px solid; }
.f-p-wrap .f-side-nav dt {
  height: 55px;
  line-height: 55px;
  padding: 0 0 0 20px;
  font-size: 16px; }
.f-p-wrap .f-side-nav dd {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  height: 50px;
  line-height: 50px;
  padding: 0 15px 0 31px;
  font-size: 14px;
  cursor: pointer;
  border-left: #ededed 4px solid; }
.f-p-wrap .f-side-nav dd:hover {
  color: #3591d4; }
.f-p-wrap .f-side-nav dd span {
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.f-p-wrap .f-side-nav dd em {
  display: none; }
.f-p-wrap .f-side-nav dd:hover em {
  display: inline-block;
  width: 24px;
  overflow: hidden;
  font-size: 24px; }
.f-p-wrap .f-side-nav dd .f-red-doc {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #ff0000;
  overflow: hidden;
  display: inline-block;
  margin: 0 0 7px 3px; }
.f-p-wrap .f-side-nav dd.curr {
  color: #3591d4;
  border-left: #1a8fda 4px solid;
  padding: 0 15px 0 31px; }
.f-p-wrap .f-side-btn {
  padding: 20px 0 20px 0;
  text-align: center; }
.f-p-wrap .f-side-btn .f-btn {
  padding: 13px 100px;
  border: #3591d4 1px solid;
  color: #3591d4;
  background: #fff; }
.f-p-wrap .f-side-btn .f-btn:hover {
  border: #3591d4 1px solid;
  background: #3591d4;
  color: #fff; }
.f-p-wrap .f-con {
  -webkit-flex: 1;
  flex: 1; }
.f-p-wrap .f-doc {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1a8fda; }
.f-p-wrap .f-modal {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 15px;
  position: fixed;
  z-index: 1001; }
.f-p-wrap .f-modal .f-close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden; }
.f-p-wrap .f-modal .f-close-modal i {
  font-size: 30px; }
.f-p-wrap .f-modal-title {
  font-size: 16px;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 55px; }
.f-p-wrap .f-modal-title .f-title-btn {
  margin: 0 0 0 auto; }
.f-p-wrap .f-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  z-index: 1000; }
.f-p-wrap .f-paging {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  font-size: 14px;
  justify-content: center; }
.f-p-wrap .f-paging a {
  color: #666;
  line-height: 15px;
  padding: 2px 5px;
  background: #fff;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px; }
.f-p-wrap .f-answers-paging .f-paging a {
  background: #f7f7f7; }
.f-p-wrap .f-paging a.curr {
  color: #fff;
  background: #1a8fda; }
.f-p-wrap .f-paging a.unclick {
  color: #ccc; }

.f-p-wrap .f-edit-clip {
  width: 920px;
  overflow: hidden; }
.f-p-wrap .f-edit-clip .f-clip-wrap {
  width: 2800px;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
.f-p-wrap .f-header-opt, .f-p-wrap .f-body-opt, .f-p-wrap .f-option-opt {
  width: 898px;
  margin: 20px 0 10px 20px; }
.f-p-wrap .f-b-nav {
  font-size: 16px; }
.f-p-wrap .f-b-nav ul {
  height: 58px;
  border-top: #fff 1px solid;
  border-radius: 5px 5px 0 0;
  border-bottom: #c8c8c8 1px solid;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex; }
.f-p-wrap .f-b-nav li {
  line-height: 58px;
  position: relative;
  margin: 0 20px 0 30px; }
.f-p-wrap .f-b-nav li i {
  font-size: 24px;
  margin: 0 5px 0 0;
  vertical-align: middle; }
.f-p-wrap .f-b-nav li em {
  vertical-align: middle; }
.f-p-wrap .f-b-nav li:after, .f-p-wrap .f-b-nav li:before {
  content: "";
  position: absolute;
  border-top: rgba(0, 0, 0, 0) 29px solid;
  border-bottom: rgba(0, 0, 0, 0) 29px solid;
  border-left: rgba(0, 0, 0, 0) 29px solid;
  top: 0; }
.f-p-wrap .f-b-nav li:before {
  border-left: #f7f7f7 29px solid;
  z-index: 2;
  right: -38px; }
.f-p-wrap .f-b-nav li:after {
  border-left: #c8c8c8 29px solid;
  z-index: 1;
  right: -39px; }
.f-p-wrap .f-b-nav li.curr i, .f-p-wrap .f-b-nav li.curr em {
  color: #3591d4; }
.f-p-wrap .f-header {
  padding: 40px 25px; }
.f-p-wrap .f-header .f-input, .f-p-wrap .f-header .f-textarea {
  width: 423px; }
.f-p-wrap .f-body-wrap {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  padding: 20px 0 20px 0;
  -webkit-align-items: flex-start;
  align-items: flex-start; }
.f-p-wrap .f-form-view-bg {
  background: #f0efef;
  margin: 0 15px 0 20px;
  width: 372px;
  padding: 10px;
  position: relative;
  overflow: auto; }
.f-p-wrap .f-form-view-bg .f-form-view-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  z-index: 100; }
.f-p-wrap .f-form-setting {
  width: 460px; }
.f-p-wrap .f-form-setting .f-fieldset {
  background: #fff;
  padding: 15px 20px 0px 20px;
  box-sizing: border-box; }
.f-p-wrap .f-form-setting .f-setting-option {
  margin: 0 0 15px 0; }
.f-p-wrap .f-form-setting .f-select-placeholder {
  width: 30px;
  height: 30px;
  margin-right: 10px; }
.f-p-wrap .f-form-view-bg .f-add-section {
  height: 60px;
  background: #e6f3fb;
  color: #3591d4;
  line-height: 60px;
  font-size: 14px; }
.f-p-wrap .f-add-section .f-add-text {
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
.f-p-wrap .f-add-section:hover .f-add-text {
  display: none; }
.f-p-wrap .f-add-section .f-add-text i {
  font-size: 14px;
  margin-right: 5px; }
.f-p-wrap .f-add-section .f-add-button {
  display: none; }
.f-p-wrap .f-add-section:hover .f-add-button {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
.f-p-wrap .f-add-section .f-add-button a {
  -webkit-flex: 1;
  flex: 1;
  border-top: #d1e9f8 1px solid;
  border-right: #d1e9f8 1px solid;
  border-bottom: #d1e9f8 1px solid;
  text-align: center;
  color: #3591d4;
  text-decoration: none; }
.f-p-wrap .f-add-section .f-add-button a:hover {
  opacity: 0.5; }
.f-p-wrap .f-add-section .f-add-button a:last-child {
  border-right: none; }
.f-p-wrap .f-option-opt .f-option-wrap {
  padding: 30px 0 40px 30px; }
.f-p-wrap .f-option-wrap .f-fieldset {
  width: 500px; }
.f-p-wrap .f-option-wrap .f-fieldset .f-control label {
  width: 105px; }
.f-p-wrap .f-option-wrap .f-fieldset .f-control-tips {
  padding: 0 0 0 105px; }
.f-p-wrap .f-search-doc {
  position: relative; }
.f-p-wrap .f-option-wrap #f_selectpage .f-select em {
  width: 187px; }
.f-p-wrap .f-search-doc .f-search-list {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  border: #1a8fda 1px solid;
  border-radius: 4px;
  background: #fff;
  overflow: hidden; }
.f-p-wrap .f-search-doc .f-search-list li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.f-p-wrap .f-search-doc .f-search-list li:hover {
  background: #e8f4fb; }

.f-p-wrap .f-complete-wrap {
  padding: 25px 0 0  25px;
  width: 830px; }
.f-p-wrap .f-complete-wrap .f-btn-wrap {
  margin: 20px 0 0 0; }
.f-p-wrap .f-section-control {
  margin: 25px 0 0 0; }
.f-p-wrap .f-section-control .f-s-title {
  font-size: 14px;
  padding: 0 0 5px 0; }
.f-p-wrap .f-section-control .f-figure {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  -webkit-align-items: stretch;
  align-items: stretch; }
.f-p-wrap .f-section-control .f-img-ctrl {
  border: #ededed 1px solid; }
.f-p-wrap .f-section-control .f-img-ctrl, .f-p-wrap .f-section-control .f-img-ctrl img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: 10px; }
.f-p-wrap .f-section-control .f-control-tips {
  padding: 5px 0 0 0; }
.f-p-wrap .f-section-control .f-caption {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
.f-p-wrap .f-section-control .f-caption .f-c-con {
  -webkit-flex: 1;
  flex: 1; }
.f-p-wrap .f-section-control .f-caption .f-list {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative; }
.f-p-wrap .f-section-control .f-caption .f-list-item {
  margin-right: 20px; }
.f-p-wrap .f-complete-wrap .f-btn {
  padding: 13px 80px; }
.f-p-wrap .f-complate-input {
  width: 320px; }
.f-p-wrap .f-form-icon {
  background: url("../images/form_icon.jpg") no-repeat; }

.f-p-wrap .f-view-wrap {
  margin: 20px 20px 20px;
  width: 900px; }
.f-p-wrap .f-view-tab {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 3;
  bottom: -1px; }
.f-p-wrap .f-view-wrap .f-view-tab li {
  width: 95px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  position: relative;
  margin-right: 10px;
  border: #c8c8c8 1px solid;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background: #d9dadb;
  cursor: pointer; }
.f-p-wrap .f-view-wrap .f-view-tab li a {
  display: block;
  border-top: #d9dadb 1px solid;
  border-radius: 3px 3px 0 0; }
.f-p-wrap .f-view-wrap .f-view-tab li.curr {
  background: #f7f7f7;
  height: 45px; }
.f-p-wrap .f-view-wrap .f-view-tab li.curr a {
  border-top: #fff 1px solid; }
.f-p-wrap .f-view {
  border-radius: 0px 5px 5px 5px; }
.f-p-wrap .f-model-title, .f-p-wrap .f-table-title {
  padding: 20px 10px 20px 20px;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
.f-p-wrap .f-model-title h1, .f-p-wrap .f-table-title h1 {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0  5px 0; }
.f-p-wrap .f-model-wrap {
  background: #fff;
  margin: 0 10px 10px;
  padding: 0 20px 10px; }
.f-p-wrap .f-model-wrap .f-model-edit {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 43px; }
.f-p-wrap .f-model-wrap .f-model-edit .f-btn {
  margin-left: auto;
  padding: 7px 7px;
  font-size: 12px;
  line-height: 13px; }
.f-p-wrap .f-model-wrap .f-model-edit .f-btn i {
  margin: 0 0 0 4px;
  font-size: 14px; }
.f-p-wrap .f-model-tab {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex; }
.f-p-wrap .f-model-tab li {
  font-size: 15px;
  padding: 5px 5px;
  margin: 0 5px; }
.f-p-wrap .f-model-tab li a {
  font-family: simsun; }
.f-p-wrap .f-model-tab li.curr a {
  color: #3591d4;
  text-decoration: underline; }
.f-p-wrap .f-model-body {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  margin-top: 10px; }
.f-p-wrap .f-model-body .f-model-nav {
  -webkit-flex: 1;
  flex: 1;
  padding: 5px 10px 0 0; }
.f-p-wrap .f-model-body .f-model-list table {
  width: 100%; }
.f-p-wrap .f-model-body .f-model-list table tr:hover {
  background: #f9f9f9; }
.f-p-wrap .f-model-body .f-model-list table tr.curr {
  background: #f9f9f9; }
.f-p-wrap .f-model-body .f-model-list table td {
  height: 46px;
  border-bottom: #c8c8c8 1px solid;
  width: 30px;
  padding: 0 0 0 10px;
  cursor: pointer; }
.f-p-wrap .f-model-body .f-model-list table td.f-doc-td {
  width: 15px; }
.f-p-wrap .f-model-body .f-model-list table td.f-num-td {
  padding: 0; }
.f-p-wrap .f-model-body .f-model-list table td.f-date {
  width: auto;
  padding: 0 0 0 25px; }
.f-p-wrap .f-model-body .f-model-list table td .iconfont {
  font-size: 20px;
  margin: 0; }
.f-p-wrap .f-model-body .f-model-list table td.f-star .iconfont {
  color: #f8b551; }
.f-p-wrap .f-model-body .f-model-list table td.f-selected .iconfont {
  color: #3591d4; }
.f-p-wrap .f-model-body .f-model-show {
  width: 450px;
  background: #ededed; }
.f-p-wrap .f-model-body .f-show-con {
  border-radius: 4px;
  height: 536px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  margin: 10px; }
.f-p-wrap .f-model-body .f-show-con h3 {
  height: 30px;
  background: #f7f7f7;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  border-radius: 4px 4px 0 0; }
.f-p-wrap .f-model-body .f-model-show .f-form-item h2 span {
  color: #3591d4; }
.f-p-wrap .f-model-body .f-model-show .f-form-item .f-item-mask {
  cursor: default; }
.f-p-wrap .f-model-body .f-model-show .f-form-item:hover {
  background: #fff;
  border: #fff 2px solid; }
.f-p-wrap .f-model-body .f-btn-wrap {
  margin: 1px;
  background: #fff;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border: none;
  padding: 10px 20px; }
.f-p-wrap .f-model-body .f-btn-wrap .f-btn {
  margin: 0; }
.f-p-wrap .f-model-body .f-btn-wrap .f-btn span {
  font-size: 14px; }
.f-p-wrap .f-table-title-data {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  margin: 0 60px; }
.f-p-wrap .f-table-wrap {
  margin: 0 60px; }
.f-p-wrap .f-table-box {
  width: 778px;
  height: 300px;
  margin: 20px 0 25px 0; }
.f-p-wrap .f-table-section {
  margin: 0 0 20px 0; }
.f-p-wrap .f-table-section a {
  color: #3591d4; }
.f-p-wrap .f-table-section-title {
  width: 100%;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  border-bottom: #c8c8c8 1px solid; }
.f-p-wrap .f-table-section-title h2 {
  font-weight: bold;
  -webkit-flex: 1;
  flex: 1;
  padding: 0 30px 5px 0; }
.f-p-wrap .f-table-section-type {
  margin-left: auto;
  height: 30px;
  line-height: 30px;
  background: #ededed;
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding: 0 0 0 20px; }
.f-p-wrap .f-table-section-type em {
  margin: 0 20px; }
.f-p-wrap .f-table-section-type::after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-top: 30px #f7f7f7 solid;
  border-right: 30px rgba(0, 0, 0, 0) solid;
  border-bottom: 30px rgba(0, 0, 0, 0) solid;
  border-left: 30px rgba(0, 0, 0, 0) solid;
  position: absolute;
  top: 0;
  left: -30px; }
.f-p-wrap .f-table-section table {
  width: 100%;
  margin-top: 10px; }
.f-p-wrap .f-table-section table td {
  height: 20px; }
.f-p-wrap .f-table-section table td.f-table-lebel {
  width: 55%;
  padding: 0 0 0 10px; }
.f-p-wrap .f-table-section table td.f-table-num {
  width: 5%; }
.f-p-wrap .f-table-section table td.f-table-progress {
  width: 40%;
  text-align: right; }
.f-p-wrap .f-table-section table td.f-table-progress progress {
  width: 200px;
  height: 10px;
  border: 0; }
.f-p-wrap .f-table-section table td.f-table-progress span {
  width: 35px;
  display: inline-block; }
.f-p-wrap progress::-webkit-progress-bar {
  background: #e4e4e4; }
.f-p-wrap progress::-webkit-progress-value {
  background: #1a8fda; }
.f-p-wrap .f-text-answer {
  width: 700px;
  height: 560px;
  margin: -280px 0 0 -350px;
  top: 50%;
  left: 50%; }
.f-p-wrap .f-text-answer .f-text-list {
  width: 700px;
  height: 469px;
  overflow-x: hidden;
  overflow-y: auto; }
.f-p-wrap .f-text-answer table {
  width: 100%; }
.f-p-wrap .f-text-answer table th {
  background: #ededed;
  height: 37px;
  text-align: center; }
.f-p-wrap .f-text-answer table td {
  border-bottom: #e8e8e8 1px solid;
  height: 47px;
  text-align: center; }
.f-p-wrap .f-text-answer table .f-text-no {
  width: 120px; }
.f-p-wrap .f-text-answer table .f-text-btn {
  width: 120px; }
.f-p-wrap .f-model-paging, .f-p-wrap .f-answers-paging {
  padding: 15px 0 0 0; }
.f-p-wrap .f-share-dlg {
  width: 920px;
  height: 460px;
  margin: -230px 0 0 -460px;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 0;
  color: #333; }
.f-p-wrap .f-share-body {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex; }
.f-p-wrap .f-share-body h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333; }
.f-p-wrap .f-share-left {
  width: 710px;
  padding: 30px;
  box-sizing: border-box; }
.f-p-wrap .f-share-left-top {
  display: -webkit-box;
  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  display: flex;
  border-bottom: #ededed 1px solid;
  padding: 10px 0 20px 0; }
.f-p-wrap .f-share-left-flex h2 {
  padding: 0 0 20px 0; }
.f-p-wrap .f-share-left-title {
  font-size: 14px;
  padding: 0 0 10px 0; }
.f-p-wrap .f-share-left-link a {
  color: #3591d4;
  margin-right: 20px; }
.f-p-wrap .f-share-left-tips {
  padding: 10px 0 0 0; }
.f-p-wrap .f-share-left-qc {
  margin-left: auto; }
.f-p-wrap .f-share-left-text {
  padding: 15px 0 0 0; }
.f-p-wrap .f-share-left-text-title {
  font-size: 14px;
  padding: 0 0 15px 0; }
.f-p-wrap .f-share-left-img {
  width: 668px;
  height: 180px;
  background: url("../images/share_text.jpg"); }
.f-p-wrap .f-share-left-qc, .f-p-wrap .f-share-left-qc img {
  width: 120px;
  height: 120px;
  display: block; }
.f-p-wrap .f-share-right {
  background: #ededed;
  border-left: #c8c8c8 1px solid;
  box-sizing: border-box;
  width: 210px;
  height: 460px;
  padding: 10px; }
.f-p-wrap .f-share-right h2 {
  padding: 30px 0 0 10px; }
.f-p-wrap .f-share-right li {
  display: inline-block;
  margin: 10px; }
.f-p-wrap .f-share-right li a {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 35px;
  text-align: center;
  line-height: 60px;
  overflow: hidden; }
.f-p-wrap .f-share-right li a:hover {
  opacity: 0.7;
  text-decoration: none; }
.f-p-wrap .f-share-right li a.f-outside-wb {
  border: #ef4e41 1px solid;
  background: #ef4e41;
  color: #fff; }
.f-p-wrap .f-share-right li a.f-outside-qz {
  border: #ffb709 1px solid;
  background: #ffb709;
  color: #fff; }
.f-p-wrap .f-share-right li a.f-outside-rr {
  border: #17a3eb 1px solid;
  background: #17a3eb;
  color: #fff; }
.f-p-wrap .f-share-right li a.f-outside-qwb {
  border: #13c1f3 1px solid;
  background: #13c1f3;
  color: #fff; }
.f-p-wrap .f-share-right li a.f-outside-db {
  border: #45ad76 1px solid;
  background: #45ad76;
  color: #fff; }
.f-p-wrap .f-model-list-empty {
  height: 450px; }
.f-p-wrap .f-model-list-empty-wrap {
  width: 180px;
  height: 180px;
  border: #eeeef0 1px solid;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  margin: 50px auto 30px; }
.f-p-wrap .f-model-list-empty-inner {
  width: 100%;
  height: 100%;
  line-height: 170px;
  text-align: center;
  border-radius: 50%;
  background: #f7f7f7;
  overflow: hidden; }
.f-p-wrap .f-model-list-empty-inner i {
  font-size: 100px;
  color: #ccc; }
.f-p-wrap .f-model-list-empty p {
  font-weight: bold;
  font-size: 14px;
  color: #999;
  text-align: center; }
.f-p-wrap .f-model-list-empty p.f-model-list-empty-select {
  padding: 30px; }
.f-p-wrap .f-mofel-list-tips span {
  display: block;
  background: #ccc;
  width: 40px;
  height: 15px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-family: simsun; }
.f-p-wrap .f-mofel-list-tips em {
  font-weight: bold; }
